.footer {
  background-color: rgb(33, 33, 33);
  padding: 0 20px 10px 20px;
  .navi {
    width: 1020px;
    margin: 0 auto;
    &__cell {
      margin-top: 18px;
      display: block;
      float: left;
      h2 {
        font-size: 14px;
        line-height: 1.4;
        color: #fff;
      }
      li {
        margin: 16px 0 0;
        display: block;
        a {
          opacity: .7;
          color: #fff;
          font-size: 11px;
          line-height: 1.5em;
        }
      }
      &--about {
        width: 20%;
        &--icon {
          padding: 5px 10px 0 0;
          color: white;
        }
      }
      &--help {
        width: 23%;
      }
      &--privacy {
        width: 42%;
        &--right {
          width: 50%;
          float: right;
          margin-top: 0;
        }
        &--left {
          width: 50%;
          float: left;
          margin-top: 0;
        }
      }
      &--country {
        width: auto;
      }
    }
  }
  .bottom {
    margin: 0px auto 30px;
    width: 1020px;
    a {
    display: inline-block;
    margin-right: 10px;
    width: auto;
    background-color: white;
    border-radius: 5px;
    }
    span {
      color: white;
      font-size: 12px;
      width: 745px;
      display: inline-block;
      margin: 8px 0 0;
      text-align: center;
      vertical-align: sub;
    }
  }
}