.pagination {
  margin-top: 40px;
  position: relative;
  text-align: center;
  .page {
    display: inline-block;
    width: 44px;
    height: 44px;
    border-radius: 4px;
    background: #fff;
    border: 1px solid #ccc;
    font-size: 14px;
    line-height: 42px;
    a {
      color: black;
    }
  }
  .current {
    color: #fff;
    background: #ea352d;
  }

  .next, .first, .prev, .last {
    display: inline-block;
    width: 90px;
    height: 44px;
    border-radius: 4px;
    background: #fff;
    border: 1px solid #ccc;
    font-size: 14px;
    line-height: 42px;
    a {
      color: black;
    }
  }
}