.sellbutton {
  height: 160px;
  width:160px;
  padding-top: 25px;
  background-color: rgb(234, 53, 45);
  z-index: 3;
  box-sizing: border-box;
  border-radius: 50%;
  display: block;
  position: fixed;
  right: 32px;
  bottom: 32px;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  cursor: pointer;
  &__text {
    font-size: 22px;
    text-align: center;
    color: white;
  }
  &__icon {
    font-size: 60px;
    height: 54px;
    width: 60px;
    margin: 0 auto;
    color: white;
    display: block;
    text-align: center;
  }
}