body {
  background-color: #f5f5f5;
  min-height: 100vh;
	font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
}

.complete_registration {
  &__header {
    width: 1020px;
    height: 128px;
    margin: 0 auto;
    display: flex;
    &__logo {
      float: left;
      margin: 40px 30px 40px 180px;
    }
    &__bar {
      padding: 40px 0 0 0;
      border: 0;
      display: inline-block;
      vertical-align: top;
      font-size: 0;
      text-align: center;
      ol {
        li {
          margin: 0 40px 0 0;
          min-width: 60px;
          position: relative;
          z-index: 1;
          display: inline-block;
          font-size: 12px;
          color: #888;
        }
        li:not(:first-child) {
          .progress-status {
            z-index: 10;
            width: 12px;
            height: 12px;
            margin: 8px auto 0;
            background: #ccc;
            border-radius: 50%;
          }
          .progress-status:before {
            position: absolute;
            bottom: 5px;
            z-index: -1;
            display: block;
            content: '';
            width: 100%;
            height: 2px;
            background: #ccc;
            right: 50%;
          }
        }
        li:not(:last-child) {
          .progress-status {
            z-index: 10;
            width: 12px;
            height: 12px;
            margin: 8px auto 0;
            background: #ccc;
            border-radius: 50%;
          }
          .progress-status:after {
            position: absolute;
            bottom: 5px;
            z-index: -1;
            display: block;
            content: '';
            width: 100%;
            height: 2px;
            background: #ccc;
            left: 50%;
          }
        }
        li.active {
          font-weight: 600;
          color: #ea352d;
          .progress-status {
            background: #ea352d;
            width: 12px;
            height: 12px;
            margin: 8px auto 0;
            border-radius: 50%;
          }
          .progress-status:before {
            position: absolute;
            bottom: 5px;
            z-index: -1;
            display: block;
            content: '';
            width: 100%;
            height: 2px;
            background: #ea352d;
            right: 50%;
          }
        }
        li.through{
          font-weight: 600;
          color: #ccc;
          .progress-status {
            background: #ea352d;
            width: 12px;
            height: 12px;
            margin: 8px auto 0;
            border-radius: 50%;
          }
          .progress-status:after {
            position: absolute;
            bottom: 5px;
            z-index: -1;
            display: block;
            content: '';
            width: 100%;
            height: 2px;
            background: #ea352d;
            left: 50%;
          }
        }
        li.through-two{
          font-weight: 600;
          color: #ccc;
          .progress-status {
            background: #ea352d;
            width: 12px;
            height: 12px;
            margin: 8px auto 0;
            border-radius: 50%;
          }
          .progress-status:before {
            position: absolute;
            bottom: 5px;
            z-index: -1;
            display: block;
            content: '';
            width: 100%;
            height: 2px;
            background: #ea352d;
            right: 50%;
          }
          .progress-status:after {
            position: absolute;
            bottom: 5px;
            z-index: -1;
            display: block;
            content: '';
            width: 100%;
            height: 2px;
            background: #ea352d;
            left: 50%;
          }
        }
      }
    }
  }
  &__main{
    height: 970px;
    width: 100%;
    margin: 0 auto;
    .information{
      width: 700px;
      margin: 0 auto;
      background-color: white;
      &__head{
        font-size: 22px;
        padding: 32px;
        text-align: center;
        border-bottom: 1px solid #f5f5f5;
        font-weight: 550;
      }
      &__main{
        height: 180px;
        max-width: 320px;
        margin: 40px auto 40px auto;
        &--message{
          text-align: center;
          font-size: 20px;
        }
        &--button{
          display: inline-block;
          text-align: center;
          line-height: 48px;
          color: white;
          font-size: 16px;
          margin-top: 40px;
          height: 48px;
          width: 100%;
          border-radius: 2px;
          background-color: red;
          cursor: pointer;
        }
      }
      &__foot {
        .content {
          height: 600px;
          margin: 0 auto;
          display: flex;
          &__figure {
            position: relative;
            img {
              height: 100%;
              width: 100%;
            }
            h1 {
              color:white;
              position: absolute;
              font-size: 24px;
              line-height: 1.4;
              top: 20px;
              left:180px;
            }
            h2 {
              color:white;
              position: absolute;
              font-size: 35px;
              top: 55px;
              left: 140px;
            }
            .banner--apple {
              position: absolute;
              top: 100px;
              left: 120px;
              img {
                width: 200px;
                margin-top: 20px;
                margin-right: 20px;
              }
            }
            .banner--google {
              position: absolute;
              top: 100px;
              right: 120px;
              img {
                width: 200px;
                margin-top: 20px;
                margin-right: 20px;
              }
            }
          }
        }
      }
    }
  }
  
  &__footer{
    height: calc(100% - 472px);
    margin: 0 163px;
    padding: 40px 0px 0px 0px;
    font-size: 12px;
    text-align: center;
    &__link{
      text-decoration: none;
      margin: 0px 6px 0px 6px;
    }
    &__logo{
      margin: 38px 0px 0px 0px;
    }
  }
  
}

a:visited {
  color: currentColor;
  }

li{
  list-style: none;
}