@import "config/colors";

.sell-completion {
  text-align: center;
  background: $white;
  margin: 0 auto;
  padding: 40px 0;
  font-size: 16px;
  &__text {
    height: 100px;
    font-size: 32px;
    font-weight: bold;
    padding-top: 10px;
    border-bottom: 1px solid #eee;
  }
  &__btn-default {
    display: block;
    width: 60%;
    line-height: 48px;
    font-size: 14px;
    border: 1px solid transparent;
    -webkit-transition: all ease-out .3s;
    transition: all ease-out .3s;
    cursor: pointer;
    text-align: center;
  }
  &__btn-box {
    height: 300px;
    padding: 60px 0;
    p {
      line-height: 1.5;
    }
    .sell-completion__btn-red {
      height: 50px;
      margin: 40px auto 0;
      background: #ea352d;
      border: 1px solid #ea352d;
      color: $white;
    }
    .sell-completion__btn-gray {
      width: 40%;
      margin: 24px auto 0;
      background: #aaa;
      border: 1px solid #aaa;
      color: $white;
    }
  }
}

.sell-footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  height: 250px;
  padding: 40px 0;
  text-align: center;
  ul {
    font-size: 0;
    display: block;
  }
  li {
    margin-top: 16px;
    font-size: 12px;
    display: inline-block;
    margin: 0 0 0 16px;
    &:first-child {
      margin: 0;
    }
  }
  a {
    display: block;
    color: #333;
  }
  &__logo {
    width: 80px;
    height: 65px;
    margin: 40px auto 0;
  }
  p{
    margin-top: 8px;
  }
  small {
    font-size: 13px;
  }
}